---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---

<!doctype html>
<html>
  <Header title="Projects | Yashab Yadav" />
  <body>
    <div class="content">
      <Sidebar selectedItem="projects" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block">
              <img
                src="/assets/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
              />
              <div>Back</div>
            </a>
          </div>
          <div class="content-container">
            <h1 class="heading-red">Projects</h1>
            <div
              style="margin-top: 2rem; text-align: center; color: rgba(255, 255, 255, 0.7); font-size: 1.5rem;"
            >
              Coming soon!
            </div>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
